html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* GLobales */

a {
    text-decoration: none;
}



/* Header y Navegación */
.nombre-sitio {
    text-align: center;
}

.nav-principal {
    border-top: 1px solid #e1e1e1;
    margin: 20px 0;
    height: auto;
}